<h1>Authenticate yourself with the code that was sent to your phone</h1>

<h3>
  <%= form_for @user, url: two_factor_authentication_path do |f|%>
    <%= f.text_field :auth_code, placeholder: "" %>
    <%= f.submit "Submit Auth Code" %>
  <% end %>
</h3>
