<br><br>
<div class="container" id="login-form">
  <div class="col-md-offset-4 col-md-4">
    <div class="row well">
      <h2 align='center' id="login-join-page">Login</h2>
      <%= render partial: 'form' %>
      <%= render "layouts/flashes" %>
    </div>
    <div class="">

    </div>
  </div>
</div>
<br><br><br><br><br>
