<div class="container">

  <ul>
    <% @donations.each do |candidate_issue_id, amount| %>
    <li><%= candidate(candidate_issue_id) %> : <%= issue(candidate_issue_id) %> : <%= amount.to_s %> </li>
    <% end %>
  </ul>

</div>
