<!-- Page Content -->
<div class="container" id="issues">
   <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
       <h1 class="page-header">Issues
           <small>Topics of Debate for the 2016 Presidential Election</small>
       </h1>
    </div>
  </div>
   <!-- /.row -->

   <!-- Projects Row -->
  <div class="row">
    <h2 class="well" align="center">Issues</h2>
    <% @issues.each do |issue| %>
      <div class="col-md-4 portfolio-item">
        <a href="#">
           <img class="img-responsive" src="http://ste.india.com/sites/default/files/styles/zm_700x400/public/2015/09/03/397575-donald-trump.jpg?itok=aa4HugNl" alt="">
        </a>
        <h3>
           <%= link_to issue.topic, issue_path(issue) %>
        </h3>
        <p><%= issue.description %></p>
      </div>
    <% end %>
  </div>
   <!-- /.row -->
