<!-- Page Content -->
<div class="container" id="stances">
   <!-- Page Header -->
  <div class="row">
    <div class="col-lg-6">
       <h1 class="page-header"><%= @issue.topic %></h1>
    </div>
    <div class="col-lg-6">
      <% @issue.candidate_issues.each do |issue| %>
        <%= render partial: "candidate_issue_row", locals: {issue: issue} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3><%= @issue.description %> </h3>
    </div>
  </div>
</div>