<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h2 align='center' id="login-join-page">Join Earmarked</h2>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>