<br><br>
<div class="container">
    <div class="col-md-offset-3 col-md-6">
      <div class="row well">
        <h2 align='center' id="login-join-page">Join Earmarked</h2>
        <%= render partial: 'form' %>
    </div>
  </div>
</div>
