<div class="container-fluid row">
  <div class="col-md-offset-4 col-md-4" align="center" id="user_names">
    <h2><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2>
  </div>
</div>

<br><br>

<div class="container-fluid row">
  <div class="col-md-offset-3 col-md-3" align="center">
    <%= link_to "View 2016 Candidates", candidates_path, class: "btn btn-primary", id: "candidates_button" %>
  </div>
  <div class="col-md-3" align="center">
    <%= link_to "View 2016 Issues", issues_path, class: "btn btn-primary", id: "issues_button" %>
  </div>
</div>

<br><br>

<div class="container-fluid row">
  <div class="col-md-offset-3 col-md-3" align="center" id="stances_supported">
    <h3>Stances Supported</h3>
  </div>
  <div class="col-md-3" align="center" id="pending_orders">
    <h3>Pending Orders</h3>
  </div>
</div>
