<div class="container" id="user_names">
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
</div>

<div class="container row">
  <div class="btn btn-default">
    <%= link_to "View 2016 Candidates", candidates_path %>
  </div>
  <div class="btn btn-default">
    <%= link_to "View 2016 Issues", issues_path %>
  </div>
</div>
