<div class="container">

  <div class="row">
    <div class="col-lg-6">
       <h1 class="page-header"><%= @candidate.name %></h1>
    </div>
    <div class="col-lg-6">
      <ul class="list-group" id="stances">
        <% @candidate.candidate_issues.each do |candidate_issue| %>
          <li class="list-group-item" id="<%= candidate_issue.id %>">
            <%= render partial: "candidate_issue_row",
                       locals: {candidate_issue: candidate_issue} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3><%= @candidate.bio %> </h3>
    </div>
  </div>
</div>
