<br><br><br>
<div class="text-center">
  <% @applicants.each do |applicant| %>
    <h3>Username: <%= applicant.user.username %></h3>
    <h4>Reason: <%= "'#{applicant.reason}'" %></h4>
    <%= link_to "Approve", admin_dashboard_path(applicant.id, :value => "Approve", :user_role_id => applicant.id), method: :patch, class: "btn btn-success" %>
    <%= link_to "Decline", admin_dashboard_path(applicant.id, :value => "Decline", :user_role_id => applicant.id), method: :patch, class: "btn btn-danger" %>
  <% end %>
<div>
