<%= form_tag charges_path do |f| %>
  <article>
    <label class="amount">
      <span>Amount: $<%= cart.total %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Order"
          data-amount=<%= @amount %>
          data-locale="auto"></script>
<% end %>
