<li>
  <a href="/profile" id="hovered">
    <%= current_user.first_name %>
  </a>
</li>
<li>
  <%= link_to "#{current_candidate.name} Dashboard",
      admin_candidate_path(current_candidate.slug), id: "hovered" %>
</li>
<li>
  <%= link_to "Logout", logout_path, method: :delete, id: "hovered" %>
</li>
