<li>
  <a href="/profile" id="hovered">
    <%= current_user.first_name %>
  </a>
</li>
<li>
  <%= link_to "Dashboard", admin_dashboard_path, id: "hovered" %>
</li>
<li>
  <%= link_to "Logout", logout_path, method: :delete, id: "hovered" %>
</li>
